@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --cor-principal: #f67f1d;
  }

.container-table {
    height: 100%;
    padding: 0;
    .content {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        padding-top: 120px;
        header {
            display: flex;
            align-items: end;
            margin-bottom: 40px;
            gap: 20px;

            .title-table {
                display: flex;
                align-items: center;
                gap: 20px;
    
                i {
                    font-size: 4rem;
                    color: var(--cor-principal);
                }
    
                h1 {
                    font-size: 2rem;
                    margin: 0;
                    font-family: 'Inter var', sans-serif;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}

.p-datatable-wrapper {
    border-radius: 16px;
}

.p-datatable-table {
    padding: 30px;
    background: #FFF;
    border: 1px solid #e7e7e7;
    border-radius: 16px;
}
.p-datatable-thead > tr > th {
    background: #FFF;
}

.p-tooltip {
  font-size: 0.8rem;
  border-radius: 8px;
}

.custom-spinner {
    display: block;
    margin: 2rem auto;
}

.sem-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

    h2 {
        font-family: "Inter var", sans-serif;
        text-align: center;
    }

    i {
        font-size: 7rem;
        color: var(--cor-principal);
    }
}

.p-tag.p-tag-success {
    background-color: #b4ff9f;
    color: #00a43d;
}

.p-tag.p-tag-danger {
    background-color: #ffb8b8;
    color: #ef4444;
}

